[SddmGreeterTheme]
Name=Glassy
Description=A glassy sddm theme
Author=Eliver Lara
Copyright=(c) 2023
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/the-root-user/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=eliverlara@gmail.com
Theme-Id=glassy
Theme-API=2.0
